.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

world
block-data.json5
/.idea/
config.json5
log.log
logs/
world.polar
instances/
parent-instance-config.json5
res/permissions.json5
res/
/.kotlin/errors/errors-1737923576087.log
/.kotlin/errors/errors-1737923815569.log
/.kotlin/errors/errors-1737923968479.log
/.kotlin/errors/errors-1737924092108.log
/.kotlin/errors/errors-1737924189953.log
/.kotlin/errors/errors-1737924199999.log
/.kotlin/errors/errors-1737924314831.log
/.kotlin/errors/errors-1737924515291.log
/.kotlin/errors/errors-1737924530933.log
/.kotlin/errors/errors-1737924586052.log
/.kotlin/errors/errors-1737924662196.log
/.kotlin/errors/errors-1737924790350.log
/.kotlin/errors/errors-1737924834884.log
/.kotlin/errors/errors-1737924881844.log
/.kotlin/errors/errors-1737924918782.log
/.kotlin/errors/errors-1737924986351.log
/.kotlin/errors/errors-1737925004516.log
/.kotlin/errors/errors-1737925012343.log
/.kotlin/errors/errors-1737925024262.log
